.header__primary--nav--li {
  .btn-nav {
    &:link,
    &:visited {
      margin-right: 3rem;
      border-bottom: solid $color-primary-blue;
      text-decoration: none;
      color: $color-light-black;
      padding: 4px;
    }

    &:hover {
      color: $color-grey-light;
      background-color: $color-primary-blue;
      box-shadow: 0 1rem 0.7rem rgba($color-black, 0.13);
    }
  }
}
